#contenedor {
  display: flex;
  flex-grow: 1;
  height: 40vh; /* Altura */
  width: 100vw; /* Ancho */
  background-image: url('01.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative; /* Necesario para posicionar elementos hijos absolutamente */
}

.texto {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: absolute; /* Posiciona este elemento dentro del contenedor */
  color: #e03e8aec;
  top: 40px; /* Ajusta según sea necesario */
  left: 40px; /* Ajusta según sea necesario */
  width: 90%;
  height: 110px;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  padding: 10px;
  margin-top: 10px;
}
#parrafo {

  display: flex;
  flex-grow: 1;
  position: absolute; /* Posiciona este elemento dentro del contenedor */
  color: #e03e8aec;
  font-family: Arial, Helvetica, sans-serif;
  padding: 90px;
  margin-top: 90px;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #d875a35e; /* Color de fondo de la página */
}

.nav-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e22e82ec; /* Color de los enlaces por defecto */
}

.nav-link:hover {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e03e8aec; /* Color de los enlaces al pasar el cursor */
}

.nav-link.active {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0e0107ec; /* Color del enlace activo */
}

.nav-link.disabled {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e03e8aec /* Color del enlace deshabilitado */
}

  .menu-container {
    width: 100%; /* Ancho del contenedor del menú */
    margin: 0 auto; /* Centrar el menú */
  }
  
  .menu-list {
    display: flex; /* Lista horizontal */
    flex-wrap: wrap;/* Permitir que los elementos se ajusten a varias filas */
    list-style: none; /* Eliminar viñetas */
    padding: 0;
  }
  
  .menu-item {
    display: flex; /* Contenedor para cada elemento del menú */
    width: 90%; /* Ancho de cada elemento (ajustar según sea necesario) */
    margin-bottom: 20px; /* Margen inferior entre elementos */
  }
  
  #plato-imagen img {
    width: 270px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
  }
  
  .plato-imagen2 img{
    width: 280px; /* Adjust the width as needed */
    height: 150px; /* Cubrir el contenedor manteniendo la proporción */
  }
  .plato-imagen3 img{
    height: 150px;
    width: 280px; /* Ajustar la imagen al contenedor */
    object-fit: cover; /* Cubrir el contenedor manteniendo la proporción */
  }
  .plato-imagen4 img{
    height: 150px;
    width: 280px; /* Ajustar la imagen al contenedor */
    object-fit: cover; /* Cubrir el contenedor manteniendo la proporción */
  }
  .plato-imagen5 img{
    width: 280px; /* Adjust the width as needed */
    height: 150px; 
    /* Ajustar la imagen al contenedor */
    object-fit: cover; /* Cubrir el contenedor manteniendo la proporción */
  }

 
      #footer {
        color: #d32e7bc9;
        background-color: #f579b15e;
        padding: 10px;
        text-align: center;
        position: relative;
        bottom: 0;
        width: 100%;
      }
#lista{
  font-size: 2.25em;
  display: flex;
  flex-direction: column; /* Organiza los elementos verticalmente */
  align-items: flex-end; /* Alinea los elementos al extremo derecho */
  
  /* Puedes ajustar el margen para mover el contenedor completo */
  margin: 140px auto;
  
  /* Ajustar el relleno para dar espacio interno */
  padding: 100px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}